# Kaggle - Spaceship Titanic
analysis

----------------------

In [17]:
import numpy as np
import pandas as pd

In [18]:
train_raw = pd.read_csv('../data/raw/train.csv')
test_raw = pd.read_csv('../data/raw/test.csv')

### Inspect

In [19]:
print(train_raw.shape)
print(test_raw.shape)

(8693, 14)
(4277, 13)

In [20]:
train_raw.head( )

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True

In [21]:
train_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8693 entries, 0 to 8692
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   PassengerId   8693 non-null   object
 1   HomePlanet    8492 non-null   object
 2   CryoSleep     8476 non-null   object
 3   Cabin         8494 non-null   object
 4   Destination   8511 non-null   object
 5   Age           8514 non-null   float64
 6   VIP           8490 non-null   object
 7   RoomService   8512 non-null   float64
 8   FoodCourt     8510 non-null   float64
 9   ShoppingMall  8485 non-null   float64
 10  Spa           8510 non-null   float64
 11  VRDeck        8505 non-null   float64
 12  Name          8493 non-null   object
 13  Transported   8693 non-null   bool
dtypes: bool(1), float64(6), object(7)
memory usage: 891.5+ KB

In [22]:
train_raw.describe()

,Age,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck
count,8514.000000,8512.000000,8510.000000,8485.000000,8510.000000,8505.000000
mean,28.827930,224.687617,458.077203,173.729169,311.138778,304.854791
std,14.489021,666.717663,1611.489240,604.696458,1136.705535,1145.717189
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,19.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,27.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,38.000000,47.000000,76.000000,27.000000,59.000000,46.000000
max,79.000000,14327.000000,29813.000000,23492.000000,22408.000000,24133.000000

In [23]:
train_raw['Cabin'] = train_raw['Cabin'].fillna('F/X/S') # fill missing values with most common value
train_raw['Cabins'] = [x.split('/') for x in train_raw['Cabin']]
#get median age for each cabin

In [24]:
train_raw['C_deck'] = [0 for x in train_raw['Cabins']]
train_raw['C_num'] = [0 for x in train_raw['Cabins']]
train_raw['C_side'] = [0 for x in train_raw['Cabins']]

for person in range(len(train_raw['Cabins'])):
    train_raw['C_deck'][person] = train_raw['Cabins'][person][0]
    train_raw['C_num'][person] = train_raw['Cabins'][person][1]
    train_raw['C_side'][person] = train_raw['Cabins'][person][2]

print(train_raw['C_deck'].value_counts())   #group B/C and rest
print(train_raw['C_num'].value_counts())    #do not use
print(train_raw['C_side'].value_counts())   #one-hot

F    2993
G    2559
E     876
B     779
C     747
D     478
A     256
T       5
Name: C_deck, dtype: int64
X       199
82       28
86       22
19       22
56       21
       ...
1644      1
1515      1
1639      1
1277      1
1894      1
Name: C_num, Length: 1818, dtype: int64
S    4487
P    4206
Name: C_side, dtype: int64

/tmp/ipykernel_7812/287798210.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_raw['C_deck'][person] = train_raw['Cabins'][person][0]
/tmp/ipykernel_7812/287798210.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_raw['C_num'][person] = train_raw['Cabins'][person][1]
/tmp/ipykernel_7812/287798210.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_raw['C_side'][person] = train_raw['Cabins'][person][2]

In [25]:
print(train_raw['C_deck'].value_counts())

F    2993
G    2559
E     876
B     779
C     747
D     478
A     256
T       5
Name: C_deck, dtype: int64

In [26]:
for item in ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'T']:
    print(f'{item}: {train_raw[(train_raw.C_deck == item)]["Transported"].value_counts(True)[0]}')

# --> group B/C and rest

A: 0.50390625
B: 0.26572528883183566
C: 0.31994645247657294
D: 0.5669456066945606
E: 0.6426940639269406
F: 0.5559639158035415
G: 0.4837827276279797
T: 0.8

get info of passenger registry:

In [35]:
train_raw['registry'] = train_raw['PassengerId'].str[:4].astype('float32') / 10000 # normalize
train_raw['registry']

0       0.0001
1       0.0002
2       0.0003
3       0.0003
4       0.0004
         ...
8688    0.9276
8689    0.9278
8690    0.9279
8691    0.9280
8692    0.9280
Name: registry, Length: 8693, dtype: float32